/* layout */
.push-left {
  background-color: inherit;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

body {
  font-family: "Patua One";
  text-align: center;
  background-color: #648381;
}

main {
  border: 3px solid #242038;
  background-color: #e4fde1;
}

main h2 {
  padding-top: 1em;
  margin-top: 0.5em;
}

main p {
  margin-bottom: 2.5em;
}

main img {
  width: 100%;
  box-shadow: 10px 10px 5px grey;
}

header {
  padding-top: 1em;
}

header img {
  margin-top: 3em;
  margin-bottom: 1.5em;
  width: 80%;
  max-width: 90%;
}

header p {
  margin-top: 0;
}

.name {
  float: left;
  margin-left: 1em;
}

.footernav {
  float: right;
  margin-top: 1em;
}

.largerscreens {
  display: none;
}

#funfacts {
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 1em;
}

/* base styles */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
}

/* h1 {
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  margin: 0;
} */

h3 {
  padding-top: 1em;
}

h2,
h3 {
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

h2 {
  font-size: 2em;
}

footer h2 {
  margin-top: 1em;
}

h1,
footer h2 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

hr {
  border-top: 1px solid #848382;
  margin: 20px 20px 0 20px;
}

footer {
  margin-top: 0;
}

/* nav */
nav li {
  display: block;
  background-color: white;
  margin-bottom: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

p,
header nav,
.footernav {
  padding-left: 1em;
  padding-right: 1em;
}

/* clearfix for fixing colapsed containers*/
/* .clearfix::after {
  content: " ";
  display: table;
  clear: both;
} */

/* Media queries for different screen sizes */

@media (min-width: 768px) {
  /* header stylings */

  nav {
    height: 2em;
  }

  .nav-flex {
    display: flex;
    margin: 0 -10px;
  }

  nav li {
    margin: 0 10px;
    background-color: inherit;
  }

  .push-left {
    margin-right: auto;
  }

  nav a:hover {
    color: blue;
  }

  header img,
  header p {
    width: 50%;
    padding-top: 5em;
    box-sizing: border-box;
  }

  header img {
    float: right;
    margin-top: 0;
  }

  header p {
    text-align: left;
    font-size: 1.5em;
    padding-right: 2em;
    padding-top: 3em;
  }

  /* main stylings */
  .col {
    width: 50%;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
  }

  /* footer stylings */
  footer li {
    float: left;
  }

  .smallscreens {
    display: none;
  }

  .largerscreens {
    display: block;
    padding-left: 2em;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 95%;
    margin: 0 auto;
    max-width: 2085px;
  }

  /* main section stylings */

  main,
  footer {
    font-size: 1.2em;
  }

  .largerscreens {
    margin-left: 2em;
  }
}
