/* layout */
.bg-overlay {
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: #6f6;
  background: rgba(0, 0, 0, 0.85);
}

main {
  overflow: hidden;
  border: 3px solid #08bdbd;
  background-color: #000;
}

main h2 {
  padding-top: 1em;
  margin-top: 0.5em;
}

main p {
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

section p,
h3 {
  color: white;
}

main img {
  width: 95%;
  height: auto;
  box-shadow: 10px 10px 20px #f71735;
}

h1 {
  letter-spacing: -0.01em;
  transform: scaleY(3);
  word-spacing: -1em;
  margin-top: 2em;
  margin-bottom: 2px;
}

header p {
  font-size: 2em;
  margin-top: 0.9em;
}

h3 {
  padding-top: 1em;
}

h2,
h3 {
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

h2 {
  font-size: 2em;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 2085px;
}

.footer-nav-flex {
  display: flex;
}

.largescreens {
  display: none;
}

li.smallscreens {
  text-align: right;
}

.bottom ul {
  display: flex;
  justify-content: space-between;
}

/* nav */

ul.main-nav li,
article ul li {
  display: block;
  border: 1px solid #08bdbd;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

nav.top li.initials {
  font-size: 3em;
  border: none;
}

a {
  text-decoration: none;
  color: #6f6;
}

/* background video */

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

a:hover {
  color: #08bdbd;
}

nav.bottom {
  margin-top: 2.5em;
  margin-bottom: 0;
  padding-top: 1.5em;
  padding-bottom: 1em;
  border-top: 3px solid #08bdbd;
}

h1,
.initials {
  font-family: "Press Start 2P", cursive;
}

nav.bottom li.initials {
  font-size: 1.5em;
}

/* footer {
  margin-top: 0;
} */

/* pulse text effect */

@-webkit-keyframes pulseText {
  0% {
    text-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);
  }
  100% {
    text-shadow: 0px 0px 22px rgba(0, 255, 0, 1);
  }
}
@-moz-keyframes pulseText {
  0% {
    text-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);
  }
  100% {
    text-shadow: 0px 0px 22px rgba(0, 255, 0, 1);
  }
}
@-o-keyframes pulseText {
  0% {
    text-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);
  }
  100% {
    text-shadow: 0px 0px 22px rgba(0, 255, 0, 1);
  }
}
@keyframes pulseText {
  0% {
    text-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);
  }
  100% {
    text-shadow: 0px 0px 22px rgba(0, 255, 0, 1);
  }
}

.pulseText {
  -webkit-animation-name: pulseText;
  -moz-animation-name: pulseText;
  -o-animation-name: pulseText;
  animation-name: pulseText;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}

/* main section */

#portfolio article {
  margin-top: 2em;
}

/* Media queries for different screen sizes */

@media (min-width: 768px) {
  /* layout */
  article {
    width: 600px;
  }

  header {
    height: 800px;
    position: relative;
  }

  .largescreens {
    display: block;
  }

  .smallscreens {
    display: none;
  }

  article ul.flex-container {
    display: flex;
    justify-content: space-between;
  }
  article ul.flex-container.container {
    margin: 1em;
  }

  /* article a.button {
    color: #000;
    font-weight: bold;
    background-color: #6f6;
    padding: 15px;
    border-radius: 25%;
  } */

  article ul li {
    border: none;
  }

  /* nav */

  ul.main-nav li {
    background-color: inherit;
    color: inherit;
    border: none;
  }

  div.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  nav.top li.initials {
    font-size: 1.5em;
  }

  .initials {
    /* font-size: 1em; */
    flex-grow: 3;
    text-align: justify;
  }

  /* .initials p {
    margin-top: 0.9em;
    margin-left: 0.3em;
    margin-right: 0.3em;
  } */

  nav {
    height: 2.5em;
    padding-top: 1em;
    margin-bottom: 2em;
  }

  a:hover {
    text-decoration: underline;
  }

  .flex-container {
    display: flex;
  }

  nav li,
  .initials {
    color: #6f6;
    margin: 0 15px;
    background-color: inherit;
    font-size: 1.2em;
  }

  nav.top {
    border-bottom: 3px solid #08bdbd;
  }

  .button {
    color: #6f6;
    font-weight: bold;
    background-color: #000;
    padding: 15px;
    border-radius: 25%;
    border: 3px solid #6f6;
  }

  .button:hover {
    padding: 16px;
    color: #000;
    text-decoration: none;
    background-color: #afa;
    box-shadow: 10px 10px 100px #f71735;
    transition-timing-function: ease-in;
    transition: 0.25s;
  }

  /* hero section */

  h1:hover {
    color: #afa;
    transition-timing-function: ease-in;
    transition: 0.25s;
  }

  div.header-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  h1 {
    transform: scaleY(5);
  }

  header p {
    font-size: 2.5em;
    margin-top: 1.5em;
  }
}

@media (min-width: 1024px) {
  /* main */
  h1 {
    transform: scale(2, 10);
  }

  header p {
    font-size: 2.5em;
    margin-top: 3.2em;
  }

  main,
  nav {
    font-size: 1.2em;
  }
}
